ENERGYPLUS_HOME=C:\EnergyPlusV26-1-0
# WSL alternative (replace the Windows value above):
# ENERGYPLUS_HOME=/usr/local/EnergyPlus-26-1-0
ENERGYPLUS_IDF_PATH=models/baseline/thermoledger_5zone_baseline.idf
ENERGYPLUS_WEATHER_PATH=weather/input/USA_IL_Chicago-OHare.Intl.AP.725300_TMY3.epw
